# Node / pnpm
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Vercel
.vercel/

# Environment
.env
.env*.local

# OS files
.DS_Store
Thumbs.db

# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
